<div class="grid-container">
  <h1 class="mat-h1">Acceptance Dashboard</h1>

    <mat-card class="transfer-card">
    <mat-card-content class="transfer-content">
      
      <h2>Deploy Environments</h2>
      <p>
        Deploy Dev version on Acceptance.
        Download the latest Dialogflow agent <b>Dev</b> version, to run unit tests
        on the intents.
      </p>
      <button mat-raised-button color="primary" (click)="onClickDeployDevtoTest($event)">Deploy Dev to Test</button>
      <p>
        Deploy to Production or Rollback:
      </p>
      &nbsp;
      <button mat-raised-button color="red" (click)="onClickRollback($event)">Rollback Production to Test</button>
      &nbsp;
      <button mat-raised-button color="red" (click)="onClickRollbackDev($event)">Rollback Dev to Test</button>
      &nbsp; | &nbsp;
      <button mat-raised-button color="green" (click)="onClickDeployTesttoProd($event)">Deploy Test to Production</button>
      <p></p>
      <hr>

      <h2>Get all agent changes</h2>
      <p>
        Display the differences between current <b>Dev</b> and latest <b>Test</b> version.
        You will need to deploy the Dev environment to Test first.
      </p>
      <button mat-raised-button color="primary" (click)="onClickRunDiff($event)">Run Diff</button>
      
      <table mat-table [dataSource]="changes" class="difftable">
        <ng-container matColumnDef="name1">
          <th mat-header-cell *matHeaderCellDef>File</th>
          <td mat-cell *matCellDef="let item">{{item.name1 }}</td>
        </ng-container>
      
        <ng-container matColumnDef="relativePath">
            <th mat-header-cell *matHeaderCellDef>Path</th>
            <td mat-cell *matCellDef="let item">{{item.relativePath}}</td>
          </ng-container>

        <ng-container matColumnDef="type2">
          <th mat-header-cell *matHeaderCellDef>State</th>
          <td mat-cell *matCellDef="let item">{{item.type2}}</td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let item">
            <div *ngIf="item.relativePath == '/intents'">
              <button mat-raised-button color="primary" (click)="onClickLoadUserPhrases($event, item)">Load user phrases</button>
            </div>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="diffCols"></tr>
        <tr mat-row *matRowDef="let row; columns: diffCols;"></tr>
      </table>

      <h2>User Phrases</h2>
      <ul>
          <li *ngFor="let phrase of userphrases">
            {{ phrase }}
          </li>
      </ul>
      <hr>
      
      <h2>Test agent</h2>
      <p>
        Create unit tests, to run on diff. 
      </p>
      <button mat-raised-button color="primary" type="submit">Run unit tests</button>
      
      <p>
        Run regression tests.
      </p>
      <button mat-raised-button color="primary" type="submit">Run regression tests</button>
    
    </mat-card-content>
</mat-card>

</div>