.grid-container {
    margin: 20px;
}

mat-card {
    margin: 12px;
    padding: 42px;
}

p {
    max-width: 600px;
}

iframe {
    width: 100%;
    border: none;
}

.mat-header-cell {
    font-size: 16px;
}

.difftable {
    width: 100%;
}

.mat-red {
    background: red;
    color: #fff;
}

.mat-green {
    background: green;
    color: #fff;
}