.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

table {
  width: 100%;
  height: 100%;
  overflow: scroll;
  box-shadow: none;
}

td {
  text-align: left;
}

.number {
  font-size: 25px;
}

mat-card {
  overflow: auto;
}

.searchbar {
  width: 400px;
}

.cardbar {
  font-size: 12px;
}

button {
  margin-left: 20px;
}