.grid-container {
    margin: 20px;
}

mat-card {
    margin: 12px;
    padding: 42px;
}

.example-full-width {
    width: 80%;
}

.example-full-width .mic {
    background: url('mic.png') no-repeat;
    height: 26px;
    width: 18px;
    border: none;
    position: absolute;
    top: -10px;
    right: 0;
} 

.balance {
    font-size: 25px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.card-text {
    display: block;
    padding: 10px 0;
    text-align: right;
}

.negative {
    color: #DB4437;
}

.positive {
    color: #0F9D58;
}

.rounded {
    border-radius: 3px;
}

.logo {
    margin-right: 20px;
}

.title {
    font-weight: bold;
}

.date {
    font-size: 12px;
    line-height: 20px;
    margin: 0 50px 0 0;
}

.amount {
    text-align: right;
}

.mat-expansion-panel-header-title {
    width: 70%;
}

.balance-form {
    margin-bottom: 50px;
    margin-top: 20px !important;
    text-align: center;
}

mat-chip-list {
    display: inline-block;
    margin: 0 10px;
}

mat-chip {
    font-size: 11px;
}

tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: #f5f5f5;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: display;
  }

  