<div class="grid-container">
    <h1 class="mat-h1">Balance</h1>


            <mat-card class="balance-card">
                <mat-card-content class="balance-card-content">

                <form class="balance-form" #f="ngForm" (ngSubmit)="onSubmit(f)" id="balance">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="How much have I spent on..." id="balance" 
                        ngModel #m="ngModel" name="balance" type="text" autocomplete="off">
                        <button class="mic"></button>
                    </mat-form-field>
                </form>


            <mat-tab-group>
                <mat-tab label="62.120.238.212">

                    <p class="balance">
                        {{balanceAccount1}}
                    </p>

                    <table mat-table [dataSource]="balanceDataSource1" style="width:100%" multiTemplateDataRows>

                            <ng-container matColumnDef="LOGO">
                              <th mat-header-cell *matHeaderCellDef></th>
                              <td width="25" mat-cell *matCellDef="let result">
                                  <img height="20" src="{{result.LOGO}}" class="rounded logo" alt="{{result.NAME}}">
                              </td>
                            </ng-container>
                          
                            <ng-container matColumnDef="NAME">
                              <th mat-header-cell *matHeaderCellDef></th>
                              <td mat-cell *matCellDef="let result"><span class="title">{{result.NAME}}</span></td>
                            </ng-container>
                          
                            <ng-container matColumnDef="DATE">
                                <th mat-header-cell *matHeaderCellDef></th>
                                <td width="150" mat-cell *matCellDef="let result"><span class="date">{{result.TIME}}</span></td>
                            </ng-container>

                            <ng-container matColumnDef="AMOUNT">
                                <th mat-header-cell *matHeaderCellDef></th>
                                <td class="amount" width="50" mat-cell *matCellDef="let result"> <strong [attr.class]="result.AMOUNT.indexOf('-') >= 0 ? 'negative' : 'positive'"
                                    >{{result.AMOUNT}}</strong></td>
                            </ng-container>
                                        
                    
                            <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
                            <ng-container matColumnDef="expandedDetail">                            
                                <td mat-cell *matCellDef="let result" [attr.colspan]="cols.length">
                                    <div class="example-element-detail"
                                        [@detailExpand]="result == expandedElement ? 'expanded' : 'collapsed'">

                                        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2437.7995042963175!2d4.86977811605297!3d52.33778327978019!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c60a05af168f5b%3A0x3e5bfe6e0b2ce441!2sGoogle!5e0!3m2!1snl!2sus!4v1536682639147" width="100%" height="200" frameborder="0" style="border:0"></iframe>
                    
                                        <div class="card-text"><small>{{result.TIME}}
                                    
                                                <mat-chip-list>
                                                        <mat-chip>{{result.CATEGORY}}</mat-chip>
                                                </mat-chip-list>
            
                                        </small></div>

                                    </div>
                                </td>
                            </ng-container>
                        
                            <tr mat-header-row *matHeaderRowDef="cols"></tr>
                            <tr mat-row *matRowDef="let row; columns: cols;"
                                class="example-element-row"
                                [class.example-expanded-row]="expandedElement === row"
                                (click)="expandedElement = row">
                            </tr>
                            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
                    </table>                  
                    
                        <mat-paginator [length]="100"
                            [pageSize]="10"
                            [pageSizeOptions]="[5, 10, 25, 100]">
                        </mat-paginator>

                </mat-tab>
                <mat-tab label="62.120.34.22">

                        <p class="balance">
                            {{balanceAccount2}}
                        </p>

                </mat-tab>
                <mat-tab label="CreditCard">

                        <p class="balance">
                            {{balanceCC}}
                        </p>

                </mat-tab>
                <mat-tab label="Savings">

                        <p class="balance">
                            {{balanceSavings}}
                        </p>

                </mat-tab>
            </mat-tab-group>

            </mat-card-content>
        </mat-card>


</div>