<div class="grid-container">
        <h1 class="mat-h1">Support</h1>

        <mat-card class="support-card">
            <mat-card-header>
            <mat-card-title>
                Talk with us
            </mat-card-title>
            </mat-card-header>
            <mat-card-content class="support-content">


                <form #f="ngForm" (ngSubmit)="onSubmit(f)" id="chatbox">

                    <div class="chatarea">
                        <div class="avatar"></div>
                        <ul id="messages" class="history"></ul>
                    </div>

                    <div class="chatfooter">


                            <div class="chatinput">
                                <mat-form-field class="example-full-width">
                                    <input matInput id="m" ngModel #m="ngModel" (keydown)="onKeyDown()" name="m" type="text" autocomplete="off">
                                </mat-form-field>
                            </div>
                            <button mat-raised-button color="primary" type="submit">Send</button>

                            
                    </div>

                </form>

            
            </mat-card-content>
        </mat-card>

</div>