.navbar-form  {
    color: #fff;
}

.navbar-form input {
    color: #fff;
}

.navbar-form strong {
    margin-right: 10px;
}

.btn {
 font-size: 12px;       
}

.logout {
    margin-top: 10px;
}

label {
    color: #fff;
}

.form-group {
    position: relative;
    margin-bottom: 1.5rem;
}

.form-control-placeholder {
    position: absolute;
    top: 0;
    padding: 7px 0 0 13px;
    transition: all 200ms;
    opacity: 0.5;
    color: #fff;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
    font-size: 75%;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
    border-color: red;
}

.form-group label {
    padding-left: 0;
    z-index: -1;
}

.form-control {
    background: none;
    border-bottom: 1px solid #fff;
}

.form-invalid input {
    background: red;
}

.form-control-placeholder.is-focused .form-control,
.form-control-placeholder input {
    z-index: 2;
}