<div class="grid-container">
  <h1 class="mat-h1">FAQ</h1>

    <mat-card class="transfer-card">
    <mat-card-content class="transfer-content">
    
      <h3>When was the Future Bank formed?</h3>
      <p>The Future Bank is a conceptional demo project. If Google were to start a bank, what would it look like?</p>

      <h3>Is this website real?</h3>
      <p>No, it isn't. The Future Bank is a conceptional demo project. If Google were to start a bank, what would it look like?</p>


      <h3>What are your opening hours?</h3>
      <p>
          We are open Monday-Friday, from 8am-8pm, and Saturday from 8am-4pm, excluding bank holidays.
      </p>

      <h3>How many people work at the Future Bank?</h3>
      <p>
        Over 80.000 employees work for the Future Bank
      </p>

      <h3>My credit card has been lost or stolen. Who do I contact?</h3>
      <p>
        Don’t worry. Just call us immediately and we’ll take care of it. 
      </p>

      <h3>How do I apply for a job at the Future Bank? </h3>
      <p>
          Once you've found a job you want to apply for, click the APPLY button near the top of the job description.
          Just upload your resume, fill out the form, review, and submit it.
      </p>

      <h3>Who created this awesome demo?</h3>
      <p>Lee Boonstra. She is a customer engineer at Google, at the Google Cloud team where she assist the sales team with technical knowledge for the financial industry.</p>



    </mat-card-content>
</mat-card>

</div>