<form (ngSubmit)="onLogout()" [formGroup]="form" class="logout-form" role="logout" *ngIf="loggedIn;else login">
    Welcome <strong>{{username}}</strong>
    <button mat-raised-button color="primary" type="submit">Logout</button>
</form>

<ng-template #login>
    <form (ngSubmit)="onLogin()" [formGroup]="form" class="login-form {{error}}" role="login">
        <mat-form-field>
                <input matInput id="username" name="username" formControlName="username" placeholder="Username" type="text" autocomplete="off">
        </mat-form-field>
        <mat-form-field>
                <input matInput id="password" name="password" formControlName="password" placeholder="Password" type="password" autocomplete="off">
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Login</button>
    </form>
</ng-template>
