.logout-form,
.login-form {
    position: absolute;
    right: 10px;
    top: 10px;
}

.login-form .mat-form-field {
    margin-right: 10px;
    font-size: 60%;
}

.logout-form {
    font-size: 80%;
    padding-top: 5px;
    strong{
        margin-right: 10px;
    }
}