<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 card">
             
                <form (ngSubmit)="onSubmit()" #ChatForm="ngForm" id="chatbox" class="card-content">

                    <div class="avatar"></div>
                    <ul id="messages" class="history"></ul>

                    <div class="form-group chatinput form-black label-floating is-empty">
                        <input id="m" [(ngModel)]="model.m" (keydown)="onKeyDown()" name="m" class="form-control" type="text" autocomplete="off">
                    </div>
                    <button class="btn pull-right" type="submit">Send
                        <div class="ripple-container"></div>
                    </button>


                </form>
            </div>
        </div>
    </div>
</div>
