#chatbox { 
    margin: 0 auto 140px;
    width: 85%;
}
#chatbox .chatinput {
    padding: 10px;
    bottom: 0; position: absolute; left: 20px;
    width: 80%;}
#chatbox button { 
    width: 80px; 
    background: #8d90b1; 
    border: none;
    bottom: 0; position: absolute; left: 85%;
    padding: 10px; 
}
@media (max-width: 750px) { 
    #chatbox button { 
        display: none;
    }
}
.ng-valid[required], .ng-valid.required  {
    border-bottom: 1px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
    border-bottom: 1px solid #a94442; /* red */
}

.systemerrors {
    color: #a94442;
}

#messages { 
    list-style-type: none; 
    margin: 0;
    padding: 0; 
    display: inline-block;
    position: relative;
    left: 80px;
    width: 500px;
}

:host ::ng-deep .balloon {
	position: relative;
    border-radius: .4em;
    padding: 10px;
    margin: 15px 0;
}

:host ::ng-deep a {
	color: #fff;
}

:host ::ng-deep .agent { 
	background: #8d90b1;    
    color: #fff;
    font-weight: bold;
    right: 20px;
}
:host ::ng-deep .agent:after { 
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
    height: 0;
    border: 10px solid transparent;
	border-right-color: #8d90b1;
	border-left: 0;
	border-top: 0;
	margin-top: -10px;
	margin-left: -8px;
}

:host ::ng-deep .user { 
	background: #143abb;    
    color: #fff;
    left: 20px;
}
:host ::ng-deep .user:after { 
    content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
    height: 0;
	border: 10px solid transparent;
	border-left-color: #143abb;
	border-right: 0;
	border-top: 0;
	margin-top: -10px;
	margin-right: -8px;
}

#messages li { padding: 5px 10px; }

.avatar {
    display: inline-block;
    background-image:url('/assets/img/faces/chatavatar.png');
    background-repeat: no-repeat;
    background-size: 100px 117px;
    height: 117px;
    width: 100px;
    position: absolute;
    left: 30px;
    top: 20px;
}
